/* layout.scss */
// All sections common layout

html,body{
  font-size: 16px;
  margin:0px;
  width: 100%;
  height: auto;
  background-color: white;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.footer {
  .text-smaller {
    font-size: 15px;
  }
}

@import "_menu";
