/* menu.scss */
.menu-old {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  height: 60px;
  width: 100%;
  padding: 1em 5em;
  &__logo {
    height: 15px;
  }
  &__links-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__links {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.01em;
    color: #828282;
    padding: 0 1em;
  }
  .btn {
    width: 92px;
    height: 26px;
    border-radius: 20px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: normal;
  }
}

$menu-width: 250px;

.menu-header {
    display: block;
    position: fixed;
    margin: 0 auto;
    // height: 60px;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: $white;
    overflow: hidden;
    z-index: 10;
}

.menu-container {
    height: 100%;
    right: 0;
    background: $white;
    width: auto;
}
.menu{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(1, 1, 1, 0.10);
}
.menu__item{
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(1, 1, 1, 0.10);
}
.menu__link{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.01em;
    color: #828282;
    text-decoration: none;
}
.menu__btn {
    width: 92px;
    height: 26px;
    border-radius: 20px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: normal;
  }
.menu__icon-body {
    transition: all 0.3s;
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    right: 25px;
    height: 22px;
    width: 22px;
    .line {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        background-color: black;
        float: left;
        height: 3px;
        width: 100%;
        &.middle {
            margin-top: 3px;
        }
        &.bottom {
            margin-top: 3px;
        }
    }
}
input[type=checkbox].menu-toggle--checkbox {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
  &:checked ~ {//must keep the hierarchy to work
    .menu-container {
        transform: translateX(0);
        visibility: visible;
    }
    .menu__icon-body {//must keep the hierarchy to work
      .line.middle {
          opacity: 0;
      }
      .line.top {
          transform: rotate(135deg);
          margin-top: 8px;
      }
      .line.bottom {
          transform: rotate(-135deg);
          margin-top: -9px;
      }
    }
  }
}

/*
 *  Responsive Behaviour
 */
 .menu-toggle--trigger {
   display: none;
 }
@media (max-width: 1024px) {
  .menu-container {
    transition: transform 250ms ease-in-out;
    transform: translateX($menu-width);
    position: fixed;
    width: $menu-width;//250px
    margin-top: 60px;
    visibility: hidden;
  }
  .menu {
    flex-direction: column;
  }
  .menu-toggle--trigger {
    display: block;
  }
}
