/* menu.scss */
// .menu {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: white;
//   height: 60px;
//   width: 100%;
//   padding: 1em 5em;
//   &__logo {
//     height: 15px;
//   }
//   &__links-container{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   &__links {
//     font-family: 'Open Sans';
//     font-weight: 300;
//     font-size: 14px;
//     line-height: normal;
//     letter-spacing: 0.01em;
//     color: #828282;
//     padding: 0 1em;
//   }
//   .btn {
//     width: 92px;
//     height: 26px;
//     border-radius: 20px;
//     font-family: Roboto;
//     font-size: 12px;
//     line-height: normal;
//     // color: #01B0F0;
//     // border-color: #01B0F0;
//   }
// }

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: white;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.menu-container {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: white;
}
.menu{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(1, 1, 1, 0.10);
}
.menu__item{
    list-style: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(1, 1, 1, 0.10);
}
// .menu .menu__item span{
//     display: block;
//     font-size: 14px;
//     color: rgba(1, 1, 1, 0.50);
// }
.menu__link{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ .menu-container {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
