<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Pixcellence Inc.</title>

    <link rel="icon" type="image/png" href="../img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto+Condensed|Roboto:100,300,400,400i,700,900|Signika:400,600,700|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css" />
</head>

<body>
  <div class="main-container">
    <nav class="menu position-fixed">
        <img src="../img/logo-pixcellence.png" alt="logo pixcellence" class="menu__logo">
        <ul class="menu__links-container">
          <li class="menu__links">
            <a href="#">Machine Learning</a></li>
          <li class="menu__links">
            <a href="#">Video Expertise</a></li>
          <li class="menu__links">
            <button type="button" name="button" class="btn btn-outline-primary">Get in touch</button>
          </li>
        </ul>
      </nav>
    
  <footer>
    footer
  </footer>

  <script src="../js/vendor/jquery-3.2.1.min.js"></script>
  <script src="../js/vendor/popper.min.js"></script>
  <script src="../js/vendor/bootstrap.min.js"></script>
</body>
</html>
