<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Pixcellence Inc.</title>

    <link rel="icon" type="image/png" href="../img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto+Condensed|Roboto:100,300,400,400i,700,900|Signika:400,600,700|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css" />
</head>

<body>
  <div class="main-container">
    <nav class="menu position-fixed">
        <img src="../img/logo-pixcellence.png" alt="logo pixcellence" class="menu__logo">
        <ul class="menu__links-container">
          <li class="menu__links">
            <a href="#">Machine Learning</a></li>
          <li class="menu__links">
            <a href="#">Video Expertise</a></li>
          <li class="menu__links">
            <button type="button" name="button" class="btn btn-outline-primary">Get in touch</button>
          </li>
        </ul>
      </nav>
    <section class="banner-machine-learning">

    </section>
    <section class="banner-characteristics">
      <div class="banner-characteristics__content-wrapper">
        <div class="banner-characteristics__col-1">
          <header class="banner-characteristics__col-1__wrapper">
            <h1 class="banner-characteristics__col-1__title">Machine Learning</h2>
            <p class="banner-characteristics__col-1__claim">Innovation is the Norm</p>
            <p class="banner-characteristics__col-1__text">Combination of classical <span class="font-weight-normal">image processing</span> based analytics <span class="font-weight-normal">with machine learning</span>, CNN to achieve desired results on limited embedded resources.</p>
          </header>
        </div>
        <div class="banner-characteristics__col-2">
          <div>
            <ul class="d-flex flex-direction-row">
              <li class="banner-characteristics__col-2__text-wrapper">
                <h3 class="banner-characteristics__col-2__title">Real-time Tracking</h3>
                <p class="banner-characteristics__col-2__text">Real-time human/object detection and tracking implementation capabilities on cloud, edge or device.</p>
              </li>
              <li class="banner-characteristics__col-2__text-wrapper">
                <h3 class="banner-characteristics__col-2__title">Video Analytics</h3>
                <p class="banner-characteristics__col-2__text">In-house expertise in video analytics algorithms and data training for classification.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="banner-objrecog">
      <div class="banner-objrecog__content-wrapper">
        <div class="banner-objrecog__col-1">
          <p class="banner-objrecog__col-1__text">Object recognition, classification and counting with exclusive Color Night Vision</p>
        </div>
        <div class="banner-objrecog__col-2">
          <ul clasS="banner-objrecog__col-2__items-wrapper">
            <li>
              <img src="../img/machine-learning/light-comparison-1.jpg" alt="">
              <p class="title">Normal Light</p>
              <p class="text">Accurate recognition</p>
            </li>
            <li>
              <img src="../img/machine-learning/light-comparison-2.jpg" alt="">
              <p class="title">Extreme Low Light</p>
              <p class="text">Same accurate</p>
            </li>
            <li>
              <img src="../img/machine-learning/parking-1.jpg" alt="">
            </li>
            <li>
              <img src="../img/machine-learning/parking-2.jpg" alt="">
              <p class="title">Parking Systems</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="banner-pixc-claim">
      <span class="title">pixcellence</span>
      <p class="text">There are video companies and AI companies but we are <span class="font-weight-normal">uniquely best of breed in both </span></p>
    </section>
    <section class="more-applications">
      <div class="more-applications__row">
        <div class="more-applications__row__img conference">
        </div>
        <div class="more-applications__row__text">
          <p class="subtitle">more applications</p>
          <h5 class="title">Conference Room</h5>
          <p class="text">People counting with any light conditions</p>
        </div>
      </div>

      <div class="more-applications__row">
        <div class="more-applications__row__text">
          <p class="subtitle text-orange">more applications</p>
          <h5 class="title">Parking Slots Counting</h5>
          <p class="text">The best object recognition technology for your company</p>
        </div>
        <div class="more-applications__row__img parking">
        </div>
      </div>

      <div class="more-applications__row">
        <div class="more-applications__row__img hotelroom">
        </div>
        <div class="more-applications__row__text">
          <p class="subtitle text-green">more applications</p>
          <h5 class="title">Belongings Camera Keeper</h5>
          <p class="text">Safeguard your belongings where Wi-Fi isn’t available with our portable security cam.</p>
        </div>
      </div>

      <div class="more-applications__row">
        <div class="more-applications__row__text">
          <p class="subtitle text-red">more applications</p>
          <h5 class="title">Doorbell Night Vision Camera</h5>
          <p class="text">Due to our more efficient and low power design, unlike other doorbells, our design does not require any elements to be installed inside the home to keep the existing home chime from humming</p>
        </div>
        <div class="more-applications__row__img doorbell">
        </div>
      </div>

    </section>
  <footer>
    footer
  </footer>

  <script src="../js/vendor/jquery-3.2.1.min.js"></script>
  <script src="../js/vendor/popper.min.js"></script>
  <script src="../js/vendor/bootstrap.min.js"></script>
</body>
</html>
