<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Pixcellence Inc.</title>

    <link rel="icon" type="image/png" href="../img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto+Condensed|Roboto:100,300,400,400i,700,900|Signika:400,600,700|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css" />
</head>

<body>
  <div class="main-container">
    <nav class="menu position-fixed">
        <a href="../../index.html"><img src="../img/logo-pixcellence.png" alt="logo pixcellence" class="menu__logo"></a>
        <ul class="menu__links-container">
          <li class="menu__links">
            <a href="machine-learning.html" class="primary-link">Machine Learning</a></li>
          <li class="menu__links">
            <a href="video-expertise.html" class="primary-link">Video Expertise</a></li>
          <li class="menu__links">
            <button type="button" name="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#contactForm">Get in touch</button>
          </li>
        </ul>
      </nav>

    <section class="banner-videoexpertise">
      <div class="banner-videoexpertise__wrapper">
        <img src="../img/video-expertise/light-painting_600.jpg" alt="image processing frontpage banner" class="banner-videoexpertise__image-aside">
        <header class="banner-videoexpertise__text">
          <h1 class="title">Image Processing and Computer Vision</h1>
          <p class="text">With our exclusive Color Night Vision</p>
        </header>
    </div>
    </section>

    <section class="banner-cnv-comparison">
      <div class="banner-cnv-comparison__wrapper">
        <header class="banner-cnv-comparison__col-1 banner-cnv-comparison__text">
          <h2 class="title">The only true security camera</h2>
          <p class="text">Color Night Vision shows details of a day time image such as color of clothing and person details versus black and white security cameras.</p>
          <ul class="extra-text">
            <li>* Color accuracy</li>
            <li>* Non-ghosting video</li>
          </ul>
        </header>
        <ul class="banner-cnv-comparison__col-2 banner-cnv-comparison__imgs-cont">
          <li><img src="../img/video-expertise/image-proc-comparison-1.png" alt="color night vision comparison img1"> </li>
          <li><img src="../img/video-expertise/image-proc-comparison-2.png" alt="color night vision comparison img2"> </li>
        </ul>
      </div>
    </section>


    <section class="banner-advantages">
      <ul class="banner-advantages__items-wrapper">
        <li class="banner-advantages__items">
          <img src="../img/video-expertise/light-bulb.png" alt="">
          <span>No forward IR Illumination</span>
          <p>Works with minimal light available</p>
        </li>
        <li class="banner-advantages__items">
          <img src="../img/video-expertise/brightness.png" alt="">
          <span>Daytime colors and quality</span>
          <p>Observe colors of clothing, hair and vehicles.</p>
        </li>
        <li class="banner-advantages__items">
          <img src="../img/video-expertise/battery.png" alt="">
          <span>Lower power and cost</span>
          <p>No IR LEDs and mechanical Lens systems</p>
        </li>
      </ul>
    </section>
    <section class="banner-slogan-ve">
      <span class="banner-slogan-ve__claim">Color Night Vision Experts</span>
      <p class="banner-slogan-ve__text">High volume deployment by multiple security companies</p>
    </section>
    <section class="banner-advanced">
      <div class="banner-advanced__column-1 flex-sm-column-reverse flex-lg-row">
        <img src="../img/video-expertise/phone-girl.png" alt="" class="banner-advanced__img">
        <div class="banner-advanced__header-wrapper">
          <span>image processing</span>
          <p>Advanced Image Processing Capabilities</p>
      </div>
      </div>
      <div class="banner-advanced__column-2">
        <div class="banner-advanced__list-wrapper">
          <span class="banner-advanced__column-2-__title">Get the best result</span>
          <ul>
            <li>•  Fish Eye Correction enabling <span class="color-orange">360 degree Field of View</span></li>
            <li>•  <span class="color-orange">Ultra low-light </span>performance < 0.05 lux color vision</li>
            <li>•  3D Noise Reduction, WDR, Edge Enhancement</li>
            <li>•  Picture <span class="color-orange">Quality Tuning Expertise </span></li>
            <li>•  <span class="color-orange">Low latency</span>, real time, multiple simultaneous streaming</li>
            <li>•  Low bitrate encoding</li>
            <li>•  Computer Vision <span class="color-orange">Motion Sensing </span></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="banner-computervision">
      <div class="banner-computervision__text-wrapper">
        <h2 class="banner-computervision__title">Computer Vision</h2>
        <p class="banner-computervision__text">Early detection, vivid night color, significantly lower power without IR or any illumination and exclusive color night vision.</p>
        <button type="button" name="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#contactForm">Learn more</button>
      </div>
    </section>
  </div>
  <div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="contactFormLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactFormLabel" >Get it Touch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="../../contact.php" method="post">
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" name="name" required>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">E-mail:</label>
            <input type="email" class="form-control" name="email" required>
          </div>
          <div class="form-group">
            <label for="message" class="col-form-label">Message:</label>
            <textarea class="form-control" name="message" required></textarea>
          </div>
          <input type="submit" value="Send message" class="btn btn-outline-primary">
        </form>
      </div>

    </div>
  </div>
</div>
<footer class="page-footer">

  <div class="banner-slogan total-center">
    <button type="button" name="button" class="btn btn-primary"  data-toggle="modal" data-target="#contactForm">Get in touch</button>
  </div>

    <div class="container text-center text-md-left mt-5">


      <div class="row mt-3 dark-grey-text">

        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

          <h6 class="text-uppercase font-weight-bold text-dark">Pixcellence Inc.</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
          <p class="font-weight-light">Pixcellence, head quartered in San Diego, USA develops exciting new wireless and video consumer products such as Wireless video Doorbell and various niche consumer camera products. </p>

        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">


          <h6 class="text-uppercase font-weight-bold text-dark">San Diego, USA</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
          <p class="dark-grey-text font-weight-light">7420 Carroll Rd.</p>
          <p class="dark-grey-text font-weight-light">San Diego CA 91121</p>
          <p class="dark-grey-text">Phone 90 203020</p>
          <p class="text-primary font-weight-light">sales@pixcellence.com</p>


        </div>



        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold text-dark">Bangalore, India</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">

          <p class="dark-grey-text font-weight-light">Phone 9972763005</p>
          <p class="dark-grey-text">+91-80-43943005</p>
          <p class="dark-grey-text text-primary font-weight-light">sales@pixcellence.com</p>

        </div>



        <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mb-md-0 mb-4">


          <h6 class="text-uppercase font-weight-bold text-dark">Madrid, Spain</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
          <p class="dark-grey-text font-weight-light">Pixcellence AI</p>
          <p class="dark-grey-text text-primary font-weight-light" href="#!">sales@pixcellence.com</p>

        </div>


      </div>


    </div>



    <div class="footer-copyright text-center text-black-50 py-3">© 2019 Copyright:
      All Rights Reserved Pixcellence Inc.
    </div>


  </footer>

  <script src="../js/vendor/jquery-3.2.1.min.js"></script>
  <script src="../js/vendor/popper.min.js"></script>
  <script src="../js/vendor/bootstrap.min.js"></script>
</body>
</html>
