<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Pixcellence Inc.</title>

    <link rel="icon" type="image/png" href="../img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto+Condensed|Roboto:100,300,400,400i,700,900|Signika:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css" />
</head>

<body>
  <div class="main-container">
    <nav class="menu position-fixed">
        <img src="../img/logo-pixcellence.png" alt="logo pixcellence" class="menu__logo">
        <ul class="menu__links-container">
          <li class="menu__links">
            <a href="#">Machine Learning</a></li>
          <li class="menu__links">
            <a href="#">Video Expertise</a></li>
          <li class="menu__links">
            <button type="button" name="button" class="btn btn-outline-primary">Get in touch</button>
          </li>
        </ul>
      </nav>
    <section class="banner-videoexpertise">
      <div class="banner-videoexpertise__img">

      </div>
      <div class="banner-videoexpertise__text">
        <header>
          <h1>Image Processing and Computer Vision</h1>
          <p>With our exclusive Color Night Vision</p>
        </header>
      </div>
    </section>
    <section class="banner-cnv">
      <div class="banner-cnv__text">
        <div class="banner-cnv__text-wrapper">
          <h2>The only security camera</h2>
          <p>Color Night Vision shows details of a day time image such as color of clothing and person details versus black and white security cameras.</p>
          <ul>
            <li>* Color accuracy</li>
            <li>* Non-ghosting video</li>
          </ul>
      </div>
      </div>
      <div class="">
        <ul class="banner-cnv__img">
          <li><img src="../img/video-expertise/image-proc-comparison-1.png" alt="color night vision comparison img1"> </li>
          <li><img src="../img/video-expertise/image-proc-comparison-2.png" alt="color night vision comparison img2"> </li>
        </ul>
    </div>
    </section>



  </div>
  <footer>
    footer
  </footer>

  <script src="../js/vendor/jquery-3.2.1.min.js"></script>
  <script src="../js/vendor/popper.min.js"></script>
  <script src="../js/vendor/bootstrap.min.js"></script>
</body>
</html>
