<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Pixcellence Inc.</title>

    <link rel="icon" type="image/png" href="../img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto+Condensed|Roboto:100,300,400,400i,700,900|Signika:400,600,700|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css" />
</head>

<body>
  <div class="main-container">
    <nav class="menu position-fixed">
        <img src="../img/logo-pixcellence.png" alt="logo pixcellence" class="menu__logo">
        <ul class="menu__links-container">
          <li class="menu__links">
            <a href="#">Machine Learning</a></li>
          <li class="menu__links">
            <a href="#">Video Expertise</a></li>
          <li class="menu__links">
            <button type="button" name="button" class="btn btn-outline-primary">Get in touch</button>
          </li>
        </ul>
      </nav>
    <section class="banner-videoexpertise">
      <div class="banner-videoexpertise__img">
        <img src="../img/video-expertise/light-painting_600.jpg" alt="image processing frontpage banner">
      </div>
      <div class="banner-videoexpertise__text">
        <header>
          <h1>Image Processing and Computer Vision</h1>
          <p>With our exclusive Color Night Vision</p>
        </header>
      </div>
    </section>
    <section class="banner-cnv">
      <div class="banner-cnv__text-cont">
        <div class="banner-cnv__text-wrapper">
          <h2>The only true security camera</h2>
          <p>Color Night Vision shows details of a day time image such as color of clothing and person details versus black and white security cameras.</p>
          <ul>
            <li>* Color accuracy</li>
            <li>* Non-ghosting video</li>
          </ul>
      </div>
      </div>
      <div class="banner-cnv__img-cont">
        <ul class="banner-cnv__img-wrapper">
          <li><img src="../img/video-expertise/image-proc-comparison-1.png" alt="color night vision comparison img1"> </li>
          <li><img src="../img/video-expertise/image-proc-comparison-2.png" alt="color night vision comparison img2"> </li>
        </ul>
    </div>
    </section>
    <section class="banner-advantages">
      <ul class="banner-advantages__items-wrapper">
        <li class="banner-advantages__items">
          <img src="../img/video-expertise/light-bulb.png" alt="">
          <span>No forward IR Illumination</span>
          <p>Works with minimal light available</p>
        </li>
        <li class="banner-advantages__items">
          <img src="../img/video-expertise/brightness.png" alt="">
          <span>Daytime colors and quality</span>
          <p>Observe colors of clothing, hair and vehicles.</p>
        </li>
        <li class="banner-advantages__items">
          <img src="../img/video-expertise/battery.png" alt="">
          <span>Lower power and cost</span>
          <p>No IR LEDs and mechanical Lens systems</p>
        </li>
      </ul>
    </section>
    <section class="banner-slogan-ve">
      <span class="banner-slogan-ve__claim">Color Night Vision Experts</span>
      <p class="banner-slogan-ve__text">High volume deployment by multiple security companies</p>
    </section>
    <section class="banner-advanced">
      <div class="banner-advanced__column-1">
        <div class="banner-advanced__header-wrapper">
          <img src="" alt="">
          <span>image processing</span>
          <p>Advanced Image Processing Capabilities</p>
      </div>
      </div>
      <div class="banner-advanced__column-2">
        <div class="banner-advanced__list-wrapper">
          <span class="banner-advanced__column-2-__title">Get the best result</span>
          <ul>
            <li>•  Fish Eye Correction enabling <span class="color-orange">360 degree Field of View</span></li>
            <li>•  <span class="color-orange">Ultra low-light </span>performance < 0.05 lux color vision</li>
            <li>•  3D Noise Reduction, WDR, Edge Enhancement</li>
            <li>•  Picture <span class="color-orange">Quality Tuning Expertise </span></li>
            <li>•  <span class="color-orange">Low latency</span>, real time, multiple simultaneous streaming</li>
            <li>•  Low bitrate encoding</li>
            <li>•  Computer Vision <span class="color-orange">Motion Sensing </span></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="banner-computervision">
      <div class="banner-computervision__text-wrapper">
        <h2 class="banner-computervision__title">Computer Vision</h2>
        <p class="banner-computervision__text">Early detection, vivid night color, significantly lower power without IR or any illumination and exclusive color night vision.</p>
        <button type="button" name="button" class="btn btn-outline-primary">Learn more</button>
      </div>
    </section>
  </div>
  <footer>
    footer
  </footer>

  <script src="../js/vendor/jquery-3.2.1.min.js"></script>
  <script src="../js/vendor/popper.min.js"></script>
  <script src="../js/vendor/bootstrap.min.js"></script>
</body>
</html>
